---
---

@import "{{ site.theme }}";

body {
    font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2b2b2b;
    font-weight: 300;
    margin: 0px;
    padding: 0px 20px 20px 20px; /* Adjusted padding */
    background: url(../images/body-background.png) #eae6d1;
    max-width: 1200px; /* Added max-width */
    margin: 0 auto; /* Center the body */
}

.wrapper {
    width: 100%; /* Set width to 100% */
    max-width: 1200px; /* Add max-width */
    margin: 0 auto; /* Center the wrapper */
    position: relative;
    padding: 20px; /* Add padding for spacing */
}

section {
    width: 100%; /* Set width to 100% */
    max-width: 800px; /* Set a max-width for the section */
    padding: 30px 30px 50px 30px;
    margin: 20px auto; /* Center the section */
    margin-top: 190px;
    position: relative;
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.09), inset 0px 0px 2px 2px rgba(255,255,255,0.5), inset 0 0 5px 5px rgba(255,255,255,0.4);
}

@media screen and (max-width: 1200px) {
    body, .wrapper, section {
        padding: 10px;
        max-width: 100%; /* Ensure it uses full width on smaller screens */
    }
}

@media screen and (max-width: 768px) {
    body, .wrapper, section {
        padding: 5px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 0;
    }

    header {
        padding: 10px;
    }

    section {
        margin-top: 10px;
        padding: 10px;
    }
}

